<!doctype html>

<html lang="en">

<head>
  <meta charset="utf-8">
  <% include ../partials/_header %>
</head>

<body>
  <div style="background-color:yellow;color:black;border:1px solid black;margin:5px">

    <% for (item in urls) { %>
      <li>
        <!--
        <form action="/urls/<%= item %>/delete" method="POST">
          <input type="submit" value="Delete URL">
        </form>

        <a href="/urls/<%=item%>" target="_blank"> Edit </a>
        -->

        <form name="deleteForm<%=item%>" action="/urls/<%= item %>/delete" method="POST">

          <a href="<%= urls[item] %>" target="_blank"><%= item %></a>  <==>  <a href="<%= urls[item] %>" target="_blank"> <%= urls[item] %> </a>

          <a href="javascript:document.deleteForm<%=item%>.submit()">
          <img src="/images/trashBin.png" width:auto height=30></a>

          <a href="/urls/<%=item%>"><img src="/images/editIcon.png" width:auto height=30></a>
        </form>

      </li>
      <% } %>
  </div>

  <% include ../partials/_footer %>
</body>

</html>