<!doctype html>

<html lang="en">

<head>
  <meta charset="utf-8">
  <% include ../partials/_header %>
</head>

<body>
  <div style="background-color:yellow;color:black;border:1px solid black;margin:5px">
    <p> <% for (item in urls) { %>
      <li>

        <a href="<%= urls[item] %>" target="_blank"><%= item %></a> -->  <a href="<%= urls[item] %>" target="_blank"> <%= urls[item] %> </a>

        <form action="/urls/<%= item %>/delete" method="POST">
          <input type="submit" value="Delete URL">
        </form>

        <a href="/urls/<%=item%>" target="_blank"> Edit </a>
      </li>
      <% } %>
    </p>
  </div>

  <% include ../partials/_footer %>

</body>

</html>